@import './scss/constants.scss';
@import './scss/base.scss';
@import './scss/queries.scss';

.neves {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3rem;
  }

  &__avatar {
    margin-bottom: 1rem;

    img {
      width: $image-size;
    }
  }

  &__name {
    font-size: $font-title;
    font-weight: $bold;
  }

  &__role {
    padding-top: 0.75rem;
    font-size: $font-subtitle;
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.25rem;

    &-div {
      display: flex;
      flex-direction: column;
      text-align: center;

      > a {
        margin-bottom: 1rem;
      }

      @include larger-than(mobile) {
        margin-bottom: 1rem;
        flex-direction: row;
      }
    }
  }

  &__link {
    color: $link;
    padding: 0 1rem;
    text-decoration: none;
    font-size: $font-link;

    &:hover {
      font-weight: $bold;
    }
  }

  &__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-family: $font-default;
      font-weight: $bold;
      font-size: $font-not-found;
    }

    p {
      font-family: $font-default;
      font-size: $font-subtitle;
    }
  }
}
