// Base Styles
body {
  background: $white;
  font-family: $font-default;
  font-weight: $regular;
  color: $black;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}