.case-studies {
  &__container {
    color: $white;
    max-width: 600px;
    padding: 1rem;

    @include larger-than(mobile) {
      padding-bottom: 6rem;
    }
  }

  &__videos {
    margin: 1rem 0;
    width: 100%;
  }
}
