// Style Constants

// Fonts / Text
$font-default: 'Inconsolata', sans-serif;
$font-title: 25px;
$font-subtitle: 18px;
$font-link: 17px;
$font-not-found: 50px;
$bold: 700;
$regular: 400;

// General Colors
$white: #fff;
$black: #222;
$link: #3498db;

// Sizes
$image-size: 95px;

